Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
certs/server/*
!certs/server/.gitkeep
certs/client/*
!certs/client/.gitkeep
vapor_server/Data/*
!vapor_server/Data/.gitkeep
